<li *ngIf="option.type === 'input'" (click)="setOptionChoiced(option)">
    <span class="input">R </span>
    <span>{{option.select}}</span>
    <span class="searchString">{{searchString}}</span>
    <span *ngIf="lastString !== ''">{{lastString}}</span>
</li>
<li *ngIf="option.type === 'output'" (click)="setOptionChoiced(option)">
    <span class=" output">D </span>
    <span *ngIf="firstString !== ''">{{firstString}}</span>
    <span class="searchString">{{searchString}}</span>
    <span *ngIf="lastString !== ''">{{lastString}}</span>
</li>