@import "../../../styles/global.sass"

.card
    cursor: pointer

.card:hover .flex-box.input:after
    width: 100%
    background-color: $color-blue-2

.card:hover .flex-box.output:after
    width: 100%
    background-color: $color-red-1

.card:hover .flex-box>.left>p
    z-index: 1

.card:hover .flex-box>.right>p
    // border: 2px red solid
    z-index: 1

.card:hover .flex-box>.right>div
    z-index: 1

.card:hover .flex-box.output:after
    width: 100%

.card:hover .datetime
    opacity: 1

.flex-box.input:after 
    content: ""
    display: block
    position: absolute
    right: 0
    top: 0
    width: 4px
    height: 100%
    background-color: $color-blue-1
    opacity: .7
    transition: .5s

.flex-box.output:after
    content: ""
    display: block
    position: absolute
    right: 0
    top: 0
    width: 4px
    height: 100%
    background-color: $color-red
    opacity: .7
    transition: .5s

.flex-box
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    gap: 20px
    transition: .2s
    // flex-wrap: wrap

    @media (max-width: 700px)
        flex-direction: column


    .left
        display: flex
        flex-direction: column
        gap: 20px
        width: 65%
        @media (max-width: 700px)
            width: 100%
            align-self: flex-start

        & .card-title
            font-size: 1.5rem
            font-weight: 500

        & .red-title
            color: $color-red

        & .blue-title
            color: $color-blue-1

    .right
        height: 100%
        display: flex
        flex-direction: column
        gap: 15px

        @media (max-width: 700px)
            align-self: flex-end

        & div
            display: flex
            align-items: center
            justify-content: space-between

        .paragraph
            text-transform: capitalize

        & .red-type
            color: $color-red

        & .blue-type
            color: $color-blue-1

        

        button
            color: $color-blue-1

.datetime
    display: flex
    flex-direction: column
    align-items: center
    opacity: 0
    position: absolute
    top: 12px
    left: 0
    width: 100%
    z-index: 1
    transition: .5s

    & span
        border: 1px solid $color-gray
        border-radius: 8px
        padding: 2px 6px
        font-size: 8px
        text-align: center  
        font-family: $font-family
        color: $color-black
