<li class="box card" (click)="showTransaction()" style="position: relative;">
    <div [class]="handleStylingCard()">
        <div class="left">
            <p *ngIf="transaction.type === 'input'" class="card-title blue-title paragraph">{{transaction.option}}</p>
            <p *ngIf="transaction.type === 'output'" class="card-title red-title paragraph">{{transaction.option}}</p>
            <p class="paragraph">{{transaction.description}}</p>
        </div>
        <div class="right">
            <div>
                <span *ngIf="transaction.type === 'input'" class="paragraph">Entrada/Receita</span>
                <span *ngIf="transaction.type === 'output'" class="paragraph">Saída/Despesa</span>
                <button (click)="deleteTransaction()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
            <p *ngIf="transaction.type === 'input'" class="money blue">{{valueToMoney()}}</p>
            <p *ngIf="transaction.type === 'output'" class="money red">-{{valueToMoney()}}</p>
        </div>
    </div>
    <div class="datetime">
        <p>Criado em <span style="color: blue;">{{transactionDate}}</span>, às <span
                style="color: red;">{{transactionTime}}</span></p>
    </div>
</li>