<label for="select-id" class="select-label">Transação</label>
<div role="select" class="select-bar" id="select-id">
    <div class="select-btn" (click)="toggleSelectDropDown()" style="position: relative;" #selectBar>
        <span>{{selectedItem}}</span>
        <span class="material-symbols-outlined">
            {{toggleSelectDropDownIcon()}}
        </span>
    </div>
    <div class="select-content" *ngIf="openedSelectMenu" #selectContent>
        <p (click)="setAnyTransaction()">Outros (livre)</p>
        <div class="input-content">
            <input type="text" #transactionInput (keyup)="filterFields()">
            <span class="material-symbols-outlined">
                search
            </span>
            <p (click)="clearSearchInput()" *ngIf="transactionOptions.length === 0">Não
                encontrado<span>{{searchWord}}</span></p>
        </div>
        <ul class="options">
            <ng-container *ngIf="transactionOptions.length !== 0">
                <app-option-transaction style="width: 100%;" *ngFor="let option of transactionOptions"
                    [option]="option"></app-option-transaction>
            </ng-container>
        </ul>
    </div>
</div>