<form (submit)="onSubmit($event)">
    <div class="field-box">
        <label for="value">Valor</label>
        <input name="value" placeholder="R$" type="number" [formControl]="value">
    </div>
    <div class="field-box">
        <label for="type">Tipo</label>
        <select name="type" [formControl]="type">
            <option value="input">Entrada</option>
            <option value="output">Saída</option>
        </select>
    </div>
    <div class="field-box">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Digite a descrição" [formControl]="description"></textarea>
    </div>
    <button type="submit" class="btn solid md">Cadastrar</button>
</form>