<form>
    <div>
        <label for="value">Valor</label>
        <input name="value" placeholder="R$" type="number">
    </div>
    <div>
        <label for="type">Tipo</label>
        <select name="type">
            <option value="input">Entrada</option>
            <option value="output">Saída</option>
        </select>
    </div>
    <div>
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Digite a descrição"></textarea>
    </div>
    <button type="submit">Cadastrar</button>
</form>