<form (submit)="onSubmit($event)" class="form" [formGroup]="financesForm">

    <div class="flex-box">
        <app-field-box style="width: 100%;" [error]="errors.value">
            <label for="value">Valor</label>
            <input name="value" placeholder="R$" type="number" formControlName="value">
            <app-error style="position: relative;"
                *ngIf="errors?.value?.['required'] && (financesForm.get('value')?.dirty || financesForm.get('value')?.touched)">
                O valor é obrigatório</app-error>
        </app-field-box>
        <div class="field-box">
            <label for="type">Tipo</label>
            <select name="type" formControlName="type">
                <option value="input">Entrada</option>
                <option value="output">Saída</option>
            </select>
        </div>
    </div>
    <app-field-box style="width: 100%;" [error]="errors.description">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Digite a descrição" formControlName="description"></textarea>
        <app-error style="position: relative;"
            *ngIf="errors?.description?.['required'] && (financesForm.get('description')?.dirty || financesForm.get('description')?.touched)">
            A descrição é obrigatória</app-error>
        <app-error style="position: relative;"
            *ngIf="errors?.description?.['minlength'] && (financesForm.get('description')?.dirty || financesForm.get('description')?.touched)">
            Mínimo 5 caracteres</app-error>
    </app-field-box>
    <button type="submit" class="btn solid md" [disabled]="handleDisableButton()">Cadastrar</button>
</form>
<!-- <div role="dialog" *ngIf="modal === 'value'">
    O valor da transação deve ser informado<span (click)="closeModal()">fechar</span>
</div>
<dialog open="true" *ngIf="modal === 'description'">A descrição da transação deve ser informada
    <span (click)="closeModal()">fechar</span>
</dialog>
<dialog open="true" *ngIf="modal === 'both'">A descrição e o valor da transação devem ser informados
    <span (click)="closeModal()">fechar</span>
</dialog> -->